.login {
    position: relative;
    display: block;
    margin: auto;
}

.login::before {
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('META-INF/resources/static/images/login.jpg');
    opacity: .4;
    content: "";
    z-index: -1;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}