.login {
    position: relative;
}

.login::before {
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('META-INF/resources/static/images/login.jpg');
    opacity: .4;
    content: "";
    z-index: -1;
}