<!DOCTYPE html>
<html lang="en">
{#include base}
<body>
{#rtbody}
<div class="row justify-content-center">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="ckautorefresh" onchange="onAutoRef();">
        <label class="custom-control-label" for="ckautorefresh">Auto Refresh</label>
    </div>
    <div class="card-deck">
        <div class="card shadow p-1 mb-3 bg-white rounded">
            <div class="card-header" id="time">
                New arrivals (refreshing on 30 seconds)
            </div>
            <div class="card-body divneworders" id="newarrivals">
                <div class="form-inline">
                    <label>Search period</label>
                    <input class="form-control" name="dayslimit" value="{dayslimit}" id="dayslimit">
                    (days)
                    <button class="btn btn-link fa fa-undo-alt" onclick="updateDayslimit();"
                            type="button">Refresh
                    </button>

                </div>
                    <form action="/readymix/manageOrder" method="post">
                        {#if newarrivals}
                        {#for nord in newarrivals}
                        <div class="clearfix" title="{nord.asRecord}">
                            <button class="btn btn-link" type="submit" name="orderid" value="{nord.id}">
                                <span style="font-size: small;">{nord.id}| {nord.item} |{nord.dateNeeded.format('dd-MM-yyyy')}</span>
                            </button>
                        </div>
                        {/for}
                        {#else}
                        <p><span style="color:red;font-weight: bold;" class="fa fa-exclamation">No new orders for the last {dayslimit} days.</span>
                        </p>
                        {/if}
                        <a href="/readymix/orders" class="btn btn-primary">See more..</a>
                    </form>
            </div>
        </div>
        <div class="card shadow p-1 mb-3 bg-white rounded" style="width:350px;">
            <div class="card-body" id="pricelist">
                <h5 class="bg-dark text-white">Product Prices (SDG)</h5>
                <form action="#" name="/readymix/dashboard">
                    {#if prodlist}
                    {#for item in prodlist}
                    <div class="row">
                        <div class="col-3">
                            <label style="font-weight: bold;color:darkgreen;">{item.item}</label>
                        </div>
                        <div class="col-6">
                            <output id="t_{item.id}" style="font-size: large;font-weight: bold">
                                {str:format(item.unitPrice)}
                            </output>
                            <input name="realvalue" value="{item.unitPrice}" hidden id="v_{item.id}">
                            <output id="usd_{item.id}" for="t_{item.id}" name="usdprice"
                                    style="font-size: medium;color: darkgray;padding-left: 10%;">
                                {str:format(rtutil:equiv(item.unitPrice))} $
                            </output>
                            <input name="product" id="p_{item.id}" value="{item.unitPrice}" class="form-control"
                                   style="display: none;">
                        </div>
                        <div class="col-3">
                            <a class="fa fa-pencil-alt" id="edit_{item.id}"
                               href="javascript:setPrice({item.id})"></a>
                            <a class="fa fa-save" id="save_{item.id}" href="javascript:savePrice({item.id})"
                               style="display: none;"></a>
                        </div>
                    </div>
                    {/for}
                    {/if}
                    <div class="row">
                        <div class="col-3">
                            <label>Rate ({rtutil:compCur.symbol})</label>
                        </div>
                        <div class="col-3">
                            <output id='lblrate' name="lblrate" class="font-weight-bold text-success">{rtutil:rate}
                            </output>
                            <input class="form-control" id="txtrate" name="rate" value="{rtutil:rate}"
                                   style="display: none;">
                        </div>
                        <div class="col-3">
                            <a class="fa fa-pencil-alt" id="editrate"
                               href="javascript:setRate()"></a>
                            <a class="fa fa-save" id="saverate" href="javascript:saveRate()"
                               style="display: none;"></a>
                        </div>
                        <output id="lastupdated" style="font-size: smaller;" class="text-secondary"></output>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-columns">
            <div class="col-12">
                <div class="card shadow p-1 mb-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title bg-dark text-white">Orders</h5>
                        {#if orderstat}
                        {#for key in orderstat.keySet }
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block" name="extrafilter"
                                value="{key}-{clnt}">
                            {key} <span class="badge badge-light" style="color:red">{orderstat.get(key)}</span>
                        </button>
                        {/for}
                        {/if}
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card shadow p-1 mb-3 bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title bg-dark text-white">Client Registration</h5>
                        {#if orderstat}
                        {#for key in clientstat.keySet }
                        <button type="submit" class="btn btn-outline-primary btn-lg btn-block" name="extrafilter"
                                value="{key}-{clnt}">
                            {key} <span class="badge badge-light"
                                        style="color:red">Before {clientstat.get(key)} days</span>
                        </button>
                        {/for}
                        {/if}
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function setPrice(pid) {
        document.getElementById("p_" + pid).style.display = 'block';
        document.getElementById("t_" + pid).style.display = 'none';
        document.getElementById("usd_" + pid).style.display = 'none';
        document.getElementById("edit_" + pid).style.display = 'none';
        document.getElementById("save_" + pid).style.display = 'block';
        document.getElementById("p_" + pid).focus();
    }

    function setRate() {
        document.getElementById("editrate").style.display = 'none';
        document.getElementById("saverate").style.display = 'block';
        document.getElementById("lblrate").style.display = 'none';
        document.getElementById("txtrate").style.display = 'block';
    }

    function savePrice(pid) {
        var oldVar = $("#v_" + pid).val();
        let newprice = $("#p_" + pid).val();
        console.log("oldprice is " + parseFloat(oldVar) + " and new " + parseFloat(newprice))
        if (parseFloat(oldVar) === parseFloat(newprice)) {
            //close without need to save and annoy the system
            document.getElementById("p_" + pid).style.display = 'none';
            document.getElementById("t_" + pid).style.display = 'block';
            document.getElementById("usd_" + pid).style.display = 'block';
            document.getElementById("edit_" + pid).style.display = 'block';
            document.getElementById("save_" + pid).style.display = 'none';
            return;
        }
        $.ajax({
            type: "POST",
            url: "/readymix/updateProdPrice?prodid=" + pid + "&newprice=" + newprice,
            headers: {'Content-Type': 'text/plain'},
            success: function (data) {
                console.log("Price was updated successfully, " + data)
                if (data.startsWith('OK')) {
                    $("#t_" + pid).val(newprice);
                    $("#lastupdated").val("last updated on" + data.replace('OK', ''));
                    document.getElementById("p_" + pid).style.display = 'none';
                    document.getElementById("t_" + pid).style.display = 'block';
                    document.getElementById("usd_" + pid).style.display = 'block';
                    document.getElementById("edit_" + pid).style.display = 'block';
                    document.getElementById("save_" + pid).style.display = 'none';
                }
            },
            error: function (d, st, err) {
                console.log("could not save new price:" + err);
                alert(err);
            }
        });
    }

    function updateDayslimit() {
        let dlimit = $("#dayslimit").val();
        $.ajax({
            url: '/readymix/dashboard/setdays/' + dlimit,
            type: 'get',
            data: "",
            success: function (r) {
                $('#newarrivals').load(document.URL + ' #newarrivals');
            },
            error: function (d, s, err) {
                console.log(err);
            }
        })
    }

    function openOrder(itemid) {
        $.ajax({
            url: '/readymix/dashboard',
            data: ["itemid=" + itemid],
            method: 'get',
            success: function (r) {
                console.log(r)
            },
            error: function (d, s, err) {
                console.log(err);
            }
        });
    }

    function saveRate() {
        let rate = $("#txtrate").val();
        $.post('/readymix/saveRate', rate);
        $.ajax({
            url: '/readymix/updateRate',
            type: 'post',
            headers: {'Content-Type': 'applicaiton/json'},
            data: JSON.stringify({"rate": rate, "compcur": '{rtutil:compCur.id}'}),
            success: function (r) {
                console.log(r);
                document.getElementById('txtrate').style.display = 'none';
                document.getElementById('lblrate').style.display = 'block';
                document.getElementById('editrate').style.display = 'block';
                document.getElementById('saverate').style.display = 'none';
                $("#lastupdated").val("Last modified: " + (new Date()))
                $("#lblrate").val(rate);
                $('#pricelist').load(document.URL + ' #pricelist');
            },
            error: function (e, sd, err) {
                console.log(err);
            }
        })
    }

    var autoRefresh = false;
    window.onload = setupRefresh;

    function setupRefresh() {
        if (autoRefresh)
            setTimeout("refreshPage();", 60000); // milliseconds
    }

    function refreshPage() {
        var current = new Date();
        $('#newarrivals').load(document.URL + ' #newarrivals');
        document.getElementById('time').innerHTML = "New arrivals last check:" + current.toLocaleTimeString()
            + " refreshing in 60sec";
        // console.log("Update page at " + current.toLocaleTimeString());
        setupRefresh();
    }

    function onAutoRef() {
        let ischecked = $("#ckautorefresh").is(':checked');
        console.log(ischecked);
        autoRefresh = ischecked;
        if (autoRefresh)
            setupRefresh();
    }

</script>
{/}
</body>
{/}
</html>