<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet"/>
    <title>Rational ReadyMix</title>
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 col-sm-12 login vertical-center">
            <h1 style="text-align: center">ReadyMix</h1>
            <span style="text-align: center"><p>Beta Version</p></span>
            <img src="../static/images/readmixphoto.png" alt="ReadyMIX" width="250px"
                 style="display:block;margin-left: auto;margin-right: auto;"/>
            {#if rtmessage}
            <div class="alert-danger">
                <span>{rtmessage}</span>
            </div>
            {/if}
            <div class="col-12">
                <form method="post" action="/checkin/login">
                    <label for="txtuname" class="h5"> User Name : </label>
                    <input type="text" name="username" class="form-control" id="txtuname"/>
                    <label for="txtpwd" class="h5"> Password: </label>
                    <input class="form-control" type="password" name="password" id="txtpwd"/>
                    <br/>
                    <input class="btn form-control btn-primary flex-column" type="submit" value="Sign In"
                           name="command"/>
                </form>
            </div>
            <div class="col-12"><a href="http://www.rationalteam.com"><span
                    style="display:block;margin-left: auto;margin-right: auto;">Powered by RationalTeam</span></a></div>
        </div>
    </div>

</div>
</body>

</html>