<!DOCTYPE html>
<html lang="en">
</html>
{#include base}
<body>
{#icon}
<img src="../images/mobiles.png" alt="client"/>
{/}
{#rtbody}
{#if result}
<div class="alert alert-danger">{result}</div>
{/if}
<div class="row">
    <div class="col-12">
        <h1>{client.item}</h1>
        <h5>{client.mobile}</h5>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-6">
        <ul class="list-group">
            {#if client}
            <li class="list-group-item list-group-item-secondary text-danger">Client Dislike : <span
                    style="font-weight: bold">{client.dislike}</span></li>
            {#let rec=client.getAsRecord()}
            {#for key in rec.keys()}
            <li class="list-group-item list-group-item-secondary">{key} : <span
                    style="font-weight: bold">{rec.get(key)}</span></li>
            {/for}
            {/let}
            {/if}
        </ul>

        <button class="btn btn-primary fa fa-arrow-circle-left form-control-lg form-control-sm"
                onclick="history.go(-1);">Close
        </button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <form action="/readymix/clientorder" method="post" >
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                       role="tab" aria-controls="nav-home" aria-selected="true">Contact</a>
                    <a class="nav-item nav-link" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab"
                       aria-controls="nav-orders" aria-selecoted="false">Orders</a>
                    <a class="nav-item nav-link" id="nav-stat-tab" data-toggle="tab" href="#nav-stat" role="tab"
                       aria-controls="nav-stat" aria-selected="false">Statistics</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {#include rtcom/}
                <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">
                    <ul class="list-group list-group-flush">
                        {#for o in rtutil:listOrders(client.id)}
                        <button class="btn-link" name="orderid" value="{o.id}" type="submit">
                            <li class="list-group-item">{o.item}</li>
                        </button>
                        {/for}
                    </ul>
                </div>
                <div class="tab-pane fade" id="nav-stat" role="tabpanel" aria-labelledby="nav-stat-tab">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>

        </form>
    </div>
</div>
{/}
</body>
{/}
<script type="text/javascript">
    function onexit() {
        var def = confirm("Are you sure you want to exit.");
        if (def)
            location.assign("/readymix/rtbrowse?type=client");
    }

    var ctx = document.getElementById('myChart').getContext('2d');
    let months = [];
    let vpermonth = [];
    $(document).ready(function () {
        var d = new Date();
        let ordcount = {};
        "{#for o in rtutil:listOrders(client.id)}"
        d = new Date("{o.ondate}");
        vpermonth.push(d.getMonth() + 1, '{o.quantity}');
        "{/for}"
        buildChart(vpermonth);

    })


    function buildChart(data) {
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
                datasets: [{
                    label: '# Qubic Meters',
                    data: data,
                    borderWidth: 2,
                    borderColor: 'rgba(0, 0, 255, 0.8)'
                }]
            },
            options: {
                showLine: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
</script>
</html>