<!DOCTYPE html>
<html lang="en" xmlns="http://java.sun.com/jsf/html">
{#include base.html/}
<body>
<div class="container">
    <div class="row justify-content-center">
        <div id="tbar" class="col-12 col-md-12 col-sm-12">
            <form id="frmtools" method="post" action="" class="form-inline">
                <div class="form-group">
                    {#if isstaff}
                    <button type="submit" name="_method" value="addnew"
                            class="btn btn-info fa fa-plus-circle form-control"
                            style="font-weight: bold;font-size: large;width: 100px;height: 70px;padding-bottom: 20px;">
                    </button>
                    {/if}
                    <label class="sr-only" for="txtsearch">Search For</label>
                    <input id="txtsearch" name="findwhat" value={findwhat} type="text" class="form-control"
                           placeholder="Type anything">
                    <button type="submit" value="search" name="_method" class="btn btn-info fa fa-search"
                            title="Search"></button>
                    <button type="submit" value="clear" name="_method" class="btn btn-info fa fa-eraser"
                            title="Clear Search"></button>
                    {#if isstaff}
                    <label for="ddclient">Filter Client ({clientid})</label>
                    <select id="ddclient" name="client" class="form-control">
                        <option value="-1">None</option>
                        {#for c in clients }
                        <option value="{c.id}" selected>{c.item}</option>
                        {/for}
                    </select>
                    <button class="btn btn-info fa fa-filter" title="Apply filter for client" type="submit"
                            name="_method"
                            value="filter" formmethod="post"></button>
                    {/if }
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        {#for col in columns}
                        <th scope="col">{col}</th>
                        {/for}
                        {#if isstaff }
                        <th scope="col">Admin Tools</th>
                        {/if }
                        {#if not isstaff }
                        <th scope="col">Action</th>
                        {/if}
                    </tr>
                    </thead>
                    <tbody>
                    {#for item in rtlist }
                    <tr>
                        {#for k in columns}
                        <td>{item.getAsRecord().get(k)}</td>
                        {/for}
                        {#if title.contains('order') }
                        <td><span style="color: brown;font-weight: bold;">{order.status}</span></td>
                        {/if }
                        <form id="frmbrowse" action="/readymix/rtbaction" method="post">
                            {#if !isstaff }
                            <td>
                                <input id="itemid" type="hidden" name="itemid" value="{item.id }">
                                <button type="submit" title="View" name="_method" value="view"
                                        class="btn btn-primary fa fa-eye"></button>
                                <button type="submit" title="Edit" name="_method" value="edit"
                                        class="btn btn-primary fa fa-pencil-alt"></button>
                                <button id="cmddelete" type="button" name="_method"
                                        onclick="deleteItem({item.id })"
                                        value="delete" class="btn btn-danger fa fa-trash"
                                        title="Delete this item"></button>
                            </td>
                            {#else}
                            <td>
                                <input id="itemid" type="hidden" name="itemid" value="{item.id }">
                                <button type="submit" class="btn btn-primary fa fa-folder-open"
                                        title="View" name="_method" value="view"></button>
                            </td>
                            {/if }
                        </form>
                    </tr>
                    {/for }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteItem(itemid) {
        alert("Client deletion is not allowed at this stage!");
        // var conf = confirm("Are you sure you want to delete this item?");
        // if (conf) {
        //
        // }
    }
</script>
</body>
</html>