<!DOCTYPE html>
<html lang="en">
<body>
<div class="flex-column mb-3">
    <form id="frmtools" method="post" action="/readymix/{filteraction}" class="form-inline" onsubmit="filter();">
        <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="findwhat"
                   aria-label="Search" style="color:#68bd7a" value="{findwhat}">
            <button id="txtsearch" class="btn btn-warning ml-2 my-2 my-sm-0 fa fa-search"
                    type="submit" name="command" value="search">Search
            </button>
            <button type="submit" value="clear" name="command" class="btn btn-warning ml-2 my-2 my-sm-0 fa fa-eraser"
                    title="Clear Search">Clear
            </button>
            {#if clients}
            <label for="ddclient" class="ml-2 mr-2">Filter Client ({clientid})</label>
            <select id="ddclient" name="client" class="form-control">
                <option value="-1">None</option>
                {#for c in clients }
                <option value="{c.id}" selected>{c.item}</option>
                {/for}
            </select>
            <button class="btn btn-warning ml-2 my-2 my-sm-0 fa fa-filter" title="Apply filter for client" type="submit"
                    name="command"
                    value="filterbyclient" >Filter
            </button>
            {/}

        </div>
    </form>
    <div class="progress col-md-4" id="progress" style="display: none;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100" style="width: 75%">Please wait</div>
    </div>
</div>
</body>
</html>