<!DOCTYPE html>
{#insert rtinput}
<div id="modalinput" class="modal fade bd-example-modal-sm modalinput" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <label>Please enter value</label>
            <input class="form-control" name="newval" value="newval">
            <button class="form-control btn btn-primary fa fa-save" name="cmdoption" value="save">Save</button>
            <button class="form-control btn btn-primary fa fa-cross" name="cmdoption" value="close">Close</button>
        </div>
    </div>
</div>
{/}

