<!DOCTYPE html>
<html lang="en">
{#include base.html}
{#rtbody}
<body>

<div class="row justify-content-center">
    <div id="tbar" class="col-12 col-md-12 col-sm-12">
        <button form="frmbrowse" class="btn btn-primary fa fa-plus-square" name="_method" value="addNew" type="submit"
                {#if type == 'client' }disabled{/if} title="Create new item" style="margin-bottom: 5px;" formaction="/readymix/rtbaction"
        formmethod="post">Add New</button>
        {#include filterman/}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-12 col-sm-12">
        <form id="frmbrowse" action="/readymix/rtbaction" method="post">
            <div class="table-responsive">
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        {#for col in columns}
                        <th scope="col">{col}</th>
                        {/for}
                        {#if isstaff }
                        <th scope="col">Admin Tools</th>
                        {/if}
                        {#if not isstaff }
                        <th scope="col">Action</th>
                        {/if}
                    </tr>
                    </thead>
                    <tbody>
                    {#if rtlist}
                    {#for item in rtlist }
                    <tr>
                        {#for k in columns}
                        {#if k eq 'id'}<td>{#if str:isNew(item.since)}<img src="../images/new.png" alt="" width="30">{/if}</td>{/if}
                        <td>{item.get(k)}</td>
                        {/for}
                        <td>
                            <button type="submit" title="Edit" name="_method" value="edit_{item.id}"
                                    class="btn btn-primary fa fa-pencil-alt"></button>
                            <button id="cmddelete" type="button" onclick="deleteItem({item.id})" name="_method"
                                    value="delete_{item.id}" class="btn btn-danger fa fa-trash"
                                    title="Delete this item"></button>
                        </td>
                    </tr>
                    {/for }
                    {/if }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">
    function deleteItem(itemid) {
        var conf = confirm("Are you sure you want to delete this item?");
        if (conf) {
            var form = $("#frmbrowse");
            $.ajax({
                url: "delete/",
                data: JSON.stringify({ itemid: itemid }),
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                onsuccess: new function (dat) {
                    console.log(dat);
                    location.reload();
                },
                onerror: new function (d, s, err) {
                    console.log("Error deleting item " + itemid + " " + err);
                }
            });
        }
    }
</script>
</body>
{/}
{/}
</html>