<!DOCTYPE html>
<body>
<div class="tab-pane fade show active" id="nav-contact" role="tabpanel"
     aria-labelledby="nav-contact-tab">
    <div class="alert alert-info" id="servermessage">

    </div>
    <ul class="nav nav-tabs" id="navtab" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="navsms" href="#sendsms" data-toggle="tab" aria-controls="sendsms"
               aria-selected="true" role="tab">SMS</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="navemail" href="#sendmail" aria-controls="sendemail" aria-selected="false"
               data-toggle="tab">EMail</a></li>
        <li class="nav-item"><a class="nav-link" id="navcall" href="#phonecall" data-toggle="tab" aria-selected="false"
                                aria-controls="phoneclall">Phone Call</a></li>

    </ul>
    <div class="tab-content" id="comcontent">
        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="sendsms" id="sendsms">
            <h2>Send SMS</h2>
            <label>From SMS Template</label>
            <select name="template" class="form-control">
                {#let tmp=rtutil:listTemplate('sms')}
                {#for t in tmp}
                <option label="{t}" value="{t}"></option>
                {/for}
                {/let}
            </select>
            <textarea class="form-control" name="sms" id="txtsms"></textarea>
            <button class="btn btn-primary form-control fa fa-mobile" onclick="sendSMS('{client.mobile}');"
                    type="button">
                Send
            </button>
        </div>
        <div class="tab-pane fade" role="tabpanel" aria-labelledby="sendmail" id="sendmail">
            <h2>Send Email</h2>
            <label>From Template</label>
            <select name="template" class="form-control">
                {#let tmp=rtutil:listTemplate('email')}
                {#for t in tmp}
                <option label="{t}" value="{t}"></option>
                {/for}
                {/let}
            </select>
            <textarea class="form-control" name="email" id="txtmail"></textarea>
            <button class="btn btn-primary form-control fa fa-envelope" onclick="sendEmail('{client.email}');"
                    type="button">
                Send
            </button>
        </div>
        <div class="tab-pane fade " role="tabpanel" aria-labelledby="phonecall" id="phonecall">
            <h2>Phone Call</h2>
            <label>Conversation Summery</label>
            <textarea class="form-control" name="email" id="txtcall"></textarea>
            <button class="btn btn-primary form-control fa fa-phone"
                    onclick="saveCall('{client.email},{client.mobile}');"
                    type="button">Save
            </button>
        </div>
    </div>
    <div class="form-row">
        <button class="btn btn-danger form-control fa fa-circle-notch" type="button" type="button" data-toggle="collapse"
                data-target="#comtools" aria-expanded="false">Close
        </button>
    </div>
</div>
</body>
