<!DOCTYPE html>

<link href="../css/themes/month_green.css" type="text/css" rel="stylesheet">
<link href="../css/themes/month_transparent.css" type="text/css" rel="stylesheet">
<link href="../css/main.css" type="text/css" rel="stylesheet"/>
{#include base}
<body>
{#rtbody}
<div class="row">
    <div class="col form-inline">
        <label class="custom-control-inline">Go to date</label>
        <button class="btn btn-primary" id="start" onclick="picker.show(); return false;"></button>
        <output class="custom-control-inline">Calendar View</output>
        <select id="view" onchange="updateView()" class="custom-control-inline">
            <option value="1" label="Day"></option>
            <option value="2" label="Week"></option>
        </select>
        <div class="custom-control custom-checkbox">
            <input type="checkbox" checked class="custom-control-input custom-control-inline" id="shownav"
                   onclick="setNav();">
            <label class="custom-control-label custom-control-inline" for="shownav">Show-Hide Navigation</label>
        </div>
    </div>
</div>
<div style="display: flex;">
    <div style="margin-right: 10px;">
        <div id="nav"></div>
    </div>
    <div style="flex-grow: 1;">
        <div id="dp"></div>
    </div>
</div>
{/}
</body>
{/}

<script type="text/javascript">

    var nav = new DayPilot.Navigator("nav");
    nav.showMonths = 3;
    nav.selectMode = "month";
    nav.onTimeRangeSelected = function (args) {
        dp.startDate = args.start;
        dp.update();
    };
    nav.init();

    var dp = new DayPilot.Month("dp");

    dp.theme = "month_green";
    //dp.theme = "month_transparent";
    //dp.viewType = "Day";
    // event creating
    dp.onTimeRangeSelected = function (args) {
        var name = prompt("New event name:", "Event");
        if (!name) return;
        var e = new DayPilot.Event({
            start: args.start,
            end: args.end,
            id: DayPilot.guid(),
            text: name
        });
        dp.events.add(e);
        dp.clearSelection();
    };

    dp.onEventClick = function (args) {
        alert("Order : " + args.e.text());
    };


    var st = new Date();
    var end = new Date();
    var stcolor = "#01fb00";
    let status;
    '{#for item in orders}'
    st = new Date('{item.dateNeeded}');
    end = new Date('{item.dateNeeded}');
    st.addHours(8)
    end.addHours(10);
    status = '{item.status}';
    console.log(status);
    stcolor = getStatusColor(status);
    var e = new DayPilot.Event({
        start: st,
        end: end,
        id: DayPilot.guid(),
        text: "{item.id}-{item.item} {item.clientName}",
        backColor: stcolor,
        borderColor: "#1f1802"
    });
    dp.events.add(e);
    '{/for}'
    dp.init();
    var picker = new DayPilot.DatePicker({
        target: 'start',
        pattern: 'yyyy-MM-dd',
        onTimeRangeSelected: function (args) {
            dp.startDate = args.start;
            dp.update();
        }
    });

    function updateView() {
        let d = $("#view").val();
        dp.viewType = d === 1 ? "Day" : "Week";
        dp.update();
    }

    function setNav() {
        navhidden = document.getElementById('shownav').checked
        if (navhidden) {
            document.getElementById("nav").style.display = 'block';
        } else {
            document.getElementById("nav").style.display = 'none';
        }
    }
</script>
