<!DOCTYPE html>
<html lang="en">
{#include base}
<body>
{#icon}
<img src="../images/services.png" alt="service"/>
{/}
{#rtbody}
{!{#include inputbox/}!}
{#if result}
<div id="rtalert" class="alert {str:contains(result,'error') ? 'alert-danger' : 'alert-success'}">{result}</div>
{/if}
<div class="row">
    <div class="col-lg-6 col-sm-12 col-md-6">
        <form action="/readymix/saveservice" method="post" id="frmservice" onsubmit="onSubmit();">
            <div class="form-row">
                <div class="col">
                    <label for="txtid">Id</label>
                    <output type="text" id="txtid" class="form-control">{service.id}</output>
                </div>
                <div class="input-group mb-3">
                    <label for="ddcat">Category</label>
                    <select id="ddcat" name="ddcategory" class="form-control">
                        {#for cat in servicecat}
                        <option label="{cat.item}" value="{cat.id}"></option>
                        {/for}
                    </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary fa fa-plus-circle" onclick="onAddCat();" type="button"
                                id="cmdaddcat"></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <label>Code</label>
                <input class="form-control" type="text" name="code" value="{service.code}" readonly>
            </div>
            <label for="txtitem">Name</label>
            <input type="text" id="txtitem" class="form-control" name="item" placeholder="service Name"
                   value="{service.item}">
            <label for="txtaritem">Arabic Name</label>
            <input type="text" id="txtaritem" class="form-control" name="aritem" value="{service.datasheet}" placeholder="service Name in Arabic">
            <label for="txtdescription">Description</label>
            <textarea class="form-control" id="txtdescription" name="description">{service.description}</textarea>
            <div class="form-row">
                <div class="col">
                    <label for="ddunit">Unit</label>
                    <select name="unit" id="ddunit" class="form-control">
                        {#for unit in units}
                        <option value="{unit.id}" label="{unit.item}" {service.unitid==unit.id ? 'selected' : ''}></option>
                        {/for}
                    </select>
                </div>
                <div class="col">
                    <label for="txtunitprice">Unit Price</label>
                    <input class="form-control" name="unitprice" value="{service.unitPrice}" id="txtunitprice">
                </div>
            </div>
            <button class="btn btn-primary fa fa-save" name="command" value="cmdsave">Save</button>
            <button class="btn btn-danger fa fa-trash" name="command" value="cmddelete">Delete</button>
            <button class="btn btn-primary fa fa-backward" type="button" name="command" value="cmdexit"
                    onclick="onexit();">Close
            </button>
        </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <output>service data not found</output>
        <output>service Index</output>
    </div>
</div>

{/}
</body>
{#include inputbox/}
{#jscript}
<script type="text/javascript">
    function onexit() {
        var def = confirm("Are you sure you want to exit.");
        if (def)
            location.assign("/readymix/rtbrowse?type=service");
    }

    function onAddCat() {
        var catname = prompt("Please type new category name");
        if (catname) {
            $('#newcat').val(catname);
            $.ajax({
                type: "POST",
                url: "/readymix/saveservice",
                data: {"command": "cmdaddcat", "newcat": catname},
                success: new function () {
                    console.log("data saved successfully");
                    $("#ddcat").load(location.href + " #ddcat");
                },
                error: new function () {
                    alert("could not save new category");
                }
            });
        }
    }

    function showInput() {
        $('<form><input type="text" style="z-index:10000" name="name"><br></form>').dialog({
            modal: true,
            buttons: {
                'OK': function () {
                    var name = $('input[name="name"]').val();
                    storeData(name);
                    $(this).dialog('close');
                },
                'Cancel': function () {
                    $(this).dialog('close');
                }
            }
        });
    }

    $(document).ready(function () {
        $('#rtalert').delay(1000).fadeOut();
    });

</script>
{/}
{/}
</html>