<!DOCTYPE html>
<html lang="en">
{#include base}
<body>
{#rtbody}
<div class="row">
    <div class="col-lg-4 col-md-4,col-sm-12">
        <div class="col-12 alert-info" style="display: none" id="rtmessage"></div>
        <div class="col-12 alert-danger" style="display: none" id="rterror"></div>
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action fa fa-tools" id="list-general" data-toggle="list"
               href="#list-options" role="tab" aria-controls="messages">General</a>
            <a class="list-group-item list-group-item-action fa fa-microphone-alt" id="list-notification-list"
               data-toggle="list"
               href="#list-notification" role="tab" aria-controls="notifications">System Notifications</a>
            <a class="list-group-item list-group-item-action fa fa-building" id="list-home-list"
               data-toggle="list"
               href="#list-home" role="tab" aria-controls="home">Communication Templates</a>
            <a class="list-group-item list-group-item-action fa fa-dollar-sign" id="list-templates"
               data-toggle="list"
               href="#list-profile" role="tab" aria-controls="profile">Currency Settings</a>
            <a class="list-group-item list-group-item-action fa fa-mobile" id="list-settings-list" data-toggle="list"
               href="#list-settings" role="tab" aria-controls="settings">System Properties (Advanced)</a>
            <a class="list-group-item list-group-item-action fa fa-mobile" id="list-settings-users" data-toggle="list"
               href="#list-settings" role="tab" aria-controls="users">Users Management</a>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                <h3><i class="fa fa-building">Communication Templates</i></h3>
                <a href="#" class="fa fa-plus-circle" onclick="createTemplate('email');">Add new</a>
                <p>
                    <button type="button" class="close" onclick="closeTemplate();" aria-label="Close"
                            id="closetemplate">
                        <span aria-hidden="true" hidden>&times;</span>
                    </button>
                </p>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body" style="height: 250px;">
                        <label for="rtemplate" class="font-weight-bold" id="rtitle">Contet</label>
                        <textarea rows="15" id="rtemplate" name="rtemplate" class="form-control text-primary"
                                  placeholder="Empty Template"></textarea>
                        <div class="form-row">
                            <button id="cmdSaveTemplate" class="btn btn-outline-warning col-lg-2 col-sm-12 fa fa-save"
                                    onclick="saveTemplate();" type="button">Save
                            </button>
                            <button id="cmdCanceTemplate"
                                    class="btn btn-outline-danger col-lg-2 col-sm-12 fa fa-external-link-alt"
                                    type="button" onclick="closeTemplate();">Cancel
                            </button>
                        </div>
                    </div>
                </div>
                <h3 class="text-capitalize">Email Templates</h3>
                {#for m in mail_templates}
                <div class="clearfix border">
                    <output class="float-left" name="emailtname" id="emailtname">{m}</output>
                    <button type="button" class="btn btn-outline-danger float-right fa fa-trash"
                            style="margin-right:5px;" onclick="deleteTemplate('{m}','email');">Remove
                    </button>
                    <button type="button" class="btn btn-outline-primary float-right fa fa-pencil-alt"
                            style="margin-right:5px;" onclick="showTemplate('{m}','email');">Edit
                    </button>
                </div>
                {/for}
                <h3 class="text-capitalize">SMS Templates</h3>
                <h3><i class="fa fa-building">Communication Templates</i></h3>
                <a href="#" class="fa fa-plus-circle" onclick="createTemplate('sms')">Add new</a>
                {#for sms in sms_templates}
                <div class="clearfix border">
                    <output class="float-left" id="smstname" name="smstname">{sms}</output>
                    <button type="button" class="btn btn-outline-danger float-right fa fa-trash"
                            style="margin-right:5px;" onclick="deleteTemplate('{sms}','sms');">Remove
                    </button>
                    <button type="button" class="btn btn-outline-primary float-right fa fa-pencil-alt"
                            style="margin-right:5px;" onclick="showTemplate('{sms}','sms');">Edit
                    </button>
                </div>
                {/for}
            </div>
            <div class="tab-pane fade" id="list-notification" role="tabpanel" aria-labelledby="list-notification">
                <h3>Notification Settings</h3>
                <div class="col-12">
                    <div class="rtnotify" id="rtnotify">
                        <form action="/readymix/setNotification" method="post">
                            <h6 class="font-weight-bold">Admin Emails</h6>
                            <button type="button" id="addmail" class="btn btn-primary fa fa-plus-circle" name="addwhat"
                                    value="addmail" onclick="addNotifySettings('adminmail')">Add new
                            </button>
                            {#for e in adminmails}
                            <div class="input-group mb-3 rtconf">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="{e}">@</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Email" aria-label="{e}"
                                       aria-describedby="basic-addon1" value="{e}">
                            </div>
                            {/for}
                            <h6 class="font-weight-bold">Admin Mobiles</h6>
                            <button type="button" id="addmobile" class="btn btn-primary fa fa-plus-circle"
                                    name="addwhat"
                                    value="addmail" onclick="addNotifySettings('adminmobile')">Add new
                            </button>
                            {#for m in adminmobiles}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="{m}">#</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" aria-label="mail"
                                       aria-describedby="basic-addon1" value="{m}">
                            </div>
                            {/for}
                            <h6 class="font-weight-bold">Notification Methods (at lease one must be active)</h6>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="ckemail" type="checkbox" checked="{rtutil:prop('notify.email')}"
                                               aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="Notify via Email"
                                       aria-label="Text input with checkbox" readonly>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input id="cksms" type="checkbox" checked="{rtutil:prop('notify.sms')}"
                                               aria-label="Checkbox for following text input">
                                    </div>
                                </div>
                                <input type="text" class="form-control" value="Notify via SMS"
                                       aria-label="Text input with checkbox" readonly>
                            </div>
                            <div class="form-group">
                                <button name="cmdsave" id="cmdsavenotification" onclick="saveNotifyMethod();"
                                        class="btn btn-primary fa fa-save form-control"
                                        type="button">
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-templates">
                <h3><i class="fa fa-dollar-sign">Currency Settings</i></h3>
                <a href="#" class="fa fa-plus-circle" onclick="createCurrency();">Add new</a>
                <div class="col-12 ">
                    <div class="collapse" id="curcol">
                        <div class="card card-body">
                            <form>
                                <div class="form-row">
                                    <label>Name</label>
                                    <input id="act-curitem" name="act-curitem" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label>Arabic</label>
                                    <input id="act-curname" name="act-curname" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label>Symbol</label>
                                    <input id="act-cursymbol" name="act-cursymbol" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label>Fraction</label>
                                    <input id="act-curfraction" name="act-curfraction" class="form-control">
                                </div>
                                <div class="form-row">
                                    <label>ISO Code</label>
                                    <input id="act-curiso" name="curiso" class="form-control">
                                </div>
                                <div class="form-row">
                                    <button class="btn btn-primary form-control col-2 fa fa-save" type="button"
                                            onclick="saveCurrency(4)">Save
                                    </button>
                                    <button class="btn btn-primary form-control col-2 fa fa-save" type="button"
                                            onclick="$('.collapse').collapse('hide');">Close
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    {#for curr in currlist}
                    <li class="list-group-item" id="row_{curr.id}">
                        <output class="border border-light" name="curid" id="curid_{curr.id}">{curr.id}</output>
                        <output class="border border-light" name="curitem" id="curitem_{curr.id}">{curr.item}</output>
                        <output class="border border-light" name="curname" id="curname_{curr.id}">{curr.name}</output>
                        <output class="border border-light" name="cursymbol" id="cursymbol_{curr.id}">{curr.symbol}
                        </output>
                        <output class="border border-light" name="curfraction" id="curfraction_{curr.id}">
                            {curr.fraction}
                        </output>
                        <output class="border border-light" name="curfraction" hidden id="curiso_{curr.id}">
                            {curr.shortName}
                        </output>
                        <button type="button" class="btn btn-outline-danger fa fa-trash float-right"
                                style="margin-right:5px;" onclick="deleteCurrency({curr.id})">Remove
                        </button>
                        <button type="button" class="btn btn-outline-primary float-right fa fa-pencil-alt"
                                style="margin-right:5px;" onclick="showCurrency({curr.id});">Edit
                        </button>
                        {/for}
                </ul>
            </div>
            <div class="tab-pane fade tbloptions" id="list-options" role="tabpanel"
                 aria-labelledby="list-general">
                <h3><a class="fa fa-tools">General Settings</a></h3>
                {#for k in options.keys}
                <h3 class="bg-light text-uppercase">{k}</h3>
                <a href="#" class="fa fa-plus-circle" onclick="createOption('{k}')">Add new</a>
                {#for op in options.get(k)}
                <div class="clearfix border">
                    <input id="itemid" name="itemid" value="{k}_{op.id}" hidden>
                    <output class="float-left ml-2">{op.item}</output>
                    <output class="align-content-center ml-3 text-muted">{op.aritem}</output>
                    <button type="button" class="btn btn-outline-danger fa fa-trash float-right"
                            style="margin-right:5px;" onclick="removeOption({op.id},'{k}')" title="Remove">
                    </button>
                    <button type="button" class="btn btn-outline-primary fa fa-pencil-alt float-right" title="Edit"
                            style="margin-right:5px;" onclick="editOption('{op.item}','{op.aritem}','{k}_{op.id}')">
                    </button>
                </div>
                {/for}
                {/for}
            </div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                <h5>System Properties (Advanced)</h5>
                <button class="btn btn-secondary fa fa-plus-square" onclick="addProp();">Add</button>
                <br>
                {#for p in props.keys}
                <output name="propname" class="font-weight-bold">{p}</output>
                {#if str:isPassword(p)}
                <input id="{p}" type="password" name="propbal" value="{props.get(p)}" class="form-control">
                {#else}
                <input id="{p}" name="propval" value="{props.get(p)}" class="form-control">
                {/if}
                {/for}
                <button class="btn btn-primary col-2 fa fa-save" type="button" name="command" value="cmdSaveProp"
                        onclick="saveProps();">Save
                </button>
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="list-settings-users">
                <h5>Users Manager</h5>
                <button class="btn btn-secondary fa fa-plus-square" onclick="alert('adding users to be implemented');">Add User</button>
            </div>
        </div>
    </div>
</div>

{#include inputbox/}
{#jscript}
<script type="text/javascript">
    $(document ).ready(function() {
        $('#list-tab a:first-child').tab('show');
    });
</script>
<script type="text/javascript" src="../js/settings.js"></script>
{/}
</body>
{/}
</html>